<div class="map-info">  
    <iframe
      class="map  flex-grow-1"
      [src]="getSafeMapUrl()"
      width="100%"
      height="300"
      style="border:0;"
      allowfullscreen=""
      loading="lazy">
  </iframe>
  

    <div class="contact-info">      
      <h4 class="fw-bold">Headquarters</h4>
      <div class="address">
        <p>Aristotelous 16, 54658</p>
        <p>Thessaloniki, Greece</p>          
      </div>
      <div class="contact">
        <p><strong>+30 231 129 0998</strong></p>
        <p><strong>hey&#64;smellycat.gr</strong></p>
      </div>    
    </div>
  </div>
  