@font-face {
  font-family: 'Manrope';
  src: url('assets/fonts/Manrope-Regular.ttf') format('truetype');
  font-weight: 400; /* Regular */
  font-style: normal;
}

@font-face {
  font-family: 'Manrope';
  src: url('assets/fonts/Manrope-Bold.ttf') format('truetype');
  font-weight: 700; /* Bold */
  font-style: normal;
}

@font-face {
  font-family: 'Manrope';
  src: url('assets/fonts/Manrope-ExtraBold.ttf') format('truetype');
  font-weight: 800; /* ExtraBold */
  font-style: normal;
}

@font-face {
  font-family: 'Manrope';
  src: url('assets/fonts/Manrope-Light.ttf') format('truetype');
  font-weight: 300; /* Light */
  font-style: normal;
}

@font-face {
  font-family: 'Manrope';
  src: url('assets/fonts/Manrope-Medium.ttf') format('truetype');
  font-weight: 500; /* Medium */
  font-style: normal;
}

@font-face {
  font-family: 'Manrope';
  src: url('assets/fonts/Manrope-SemiBold.ttf') format('truetype');
  font-weight: 600; /* SemiBold */
  font-style: normal;
}


html, body {
  height: 100%;
  margin: 0;
  background-color: #EFF1F4 !important;
  font-family: 'Manrope', sans-serif !important;
}
  
.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
  
h1, h2 {
  font-family: 'Manrope', sans-serif;
  font-weight: 800 !important; /* ExtraBold */
}

.content {
  flex: 1;
}
    
.logo {
    height: 30px;
    width: auto;
    margin-right: 5px;
}

.brand-text {
    font-weight: 700;
    font-size: 1.25rem;
}

.text-dark {
    color: #1C1C1C !important; 
}

.text-smelly-danger {
    color: #ef7878 !important; 
}

.btn{
    background-color: #ef7878 !important; 
}

/* Footer Styles */
.footer {
  margin-top: auto;
  background-color: black;
  color: white;
  padding: 20px 0;
  text-align: center;
}



